# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\jelop\Desktop\universidad\curso 2020-2021\segundo semestre\DAW2\Ejercicios optativos\ejercicio1-daw2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
